//Variables
@use 'sass:map';
@use '../utilities/maps';

/* Especificos - faq */

.faq__section{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .faq__h2{
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
    };
    .faq_box{
        margin: 25px 50px 25px 20px;
        display: flex;
        flex-direction: row;
        background-color: map.get(maps.$colores,color-faq) ;
        .faq__img{
                width: 130px;
                height: 130px
        };
        .faq--info{
            align-content: center;
            padding-left: 20px;
                padding-bottom: 20px;
            h3{
                padding-bottom: 20px;
            }
        }
    }
}
/* /Especificos - faq */