// Mensaje de contacto enviado
@use '../utilities/extends';

.thanks{
    @extend%flex-colum;
    h1{
        margin: 40px 15px 10px 10px;
    }
    p{
        margin: 10px 30px;
    }
    div{
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        .contact__submit{
                margin-top: 30px;
                width: 150px;
                height: 50px;
                border-radius: 20px 8px;
                background-color: #5a4b45;
                color: #eee7e1;
        }
    }
}