/* Especificos - contacto */

section{
    div{
        .title--h1{};
        .contact__title--h2{
            text-align: center;
            margin: 50px 0;
            font-size: 20px;
        }
    }
    .contact--box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div{
            .contac__form{
                margin: 20px;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                .label{};
                .input{};
                #mensaje{height: 80px;};
                a{
                    .contact__submit{margin-top: 30px;
                    width: 150px;
                    height: 50px;
                    border-radius: 20px 8px;
                    background-color: #5a4b45;
                    color: #eee7e1;
                    };
                    .contact__submit:hover{
                    background-color: #eee7e1;
                    color: #5a4b45;
                    }
                };
            }
        };
        .contact__wa{
            margin-top: 100px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                color: #5a4f4b;
                font-size: 25px;};
            a{
                .contact--logowa{width: 300px;}
            };
            #conctac--click{font-size: 12px;};
        }
    }
}


/* /Especificos - contacto */