$colores:(
    color-fondo:#e8d8ca,
    color-faq: #ffede1,
    color-font-primary:rgb(90, 79, 75),
    color-font-secondary:#786a64,
    color-font-h3: #827c78,
    color-font-p: #241f1e,
    color-title-footer: #5f3d33,
    color-info-footer: #3a3331
)
