/* Tablet */
@media (max-width:991px) {
        .nav__hamb{
        display: flex;
        justify-content: flex-end;
    }
    .navbar{
        display: none;
    }
}

/* Celular */
@media(max-width:480px) {
    .nav__hamb{
        display: flex;
        justify-content: flex-end;
    }
    .navbar{
        display: none;
    }

    .valor__video{
        padding: 12px;
    }

    .faq_box {
        padding: 15px 0;
        align-items: center;
    }
}

